
<div class="topPage">
  <div class="container">
    <form class="d-grid gap-2 justify-content-md-end">
      <a class="btn btn-outline-primary me-md-2" type="button" href="/">最初から！</a>
    </form>
  </div>
</div>

