
<div class="topPage">
  <div class="container">
    <% unless controller.controller_name == 'inquiries' && controller.action_name == 'thanks' %>
      <form class="d-grid gap-2 justify-content-md-end">
    <%= link_to '最初から！', root_path, method: :get, class: 'btn btn-outline-primary me-md-2 '  %>
    </form>  
    <% end %>
  </div>
</div>

